body {
    margin: 0;
    padding: 0;
    background-color: #07070e;
}
.box {
    display: inline;
    top: 50%;
    left: 50%;
    border-radius: 10px;
}
.box select {
    background-color: #a2a5c6;
    color: #07070e;
    padding: 7px;
    font-size: 12px;
    outline: none;
    margin: 10px;
    border-radius: 10px;
}
.box select option {
    padding: 30px;

}
.box select:hover {
    transform: scale(1.055);
    cursor:pointer;
}
.btn{
    display: inline;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    padding: 7px;
    background-color: #a2a5c6;
    color: #07070e;
    margin: 10px;
}
.btn:hover{
    transform: scale(1.055);
    cursor:pointer;
}
@media screen and (max-width: 600px) {
    .box select {
        width: 90%;
        padding: 15px;
    }
    .btn{
        width: 90%;
        padding: 15px;
    }
}
    
